# Relabel DataFrame columns

In [1]:
import pandas as pd
import numpy as np

### Create an example DataFrame of normally distributed random numbers:

In [2]:
# Use a random seed to make reproducible data.
np.random.seed(1)
df = pd.DataFrame(np.random.randn(5,4), columns=list("ABCD"))
df

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815

### Relabel columns:

In [3]:
df.rename(columns={"B":"new_name"})

          A  new_name         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815

### Note this returns a new DataFrame and doesn't alter the original:

In [4]:
df

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815

### Use <code>inplace=True</code> to alter the original DataFrame:

In [5]:
df.rename(columns={"B":"new_name"}, inplace=True)
df

          A  new_name         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815