# Basic inspection of a DataFrame

In [1]:
import pandas as pd
import numpy as np

### Create an example DataFrame of normally distributed random numbers:

In [2]:
# Use a random seed to make reproducible data.
np.random.seed(1)
df = pd.DataFrame(np.random.randn(1500,5), columns=list("ABCDE"))

### Look at the first <i>x</i> rows of the DataFrame:

In [3]:
# x = 4
df.head(4)

          A         B         C         D         E
0  1.624345 -0.611756 -0.528172 -1.072969  0.865408
1 -2.301539  1.744812 -0.761207  0.319039 -0.249370
2  1.462108 -2.060141 -0.322417 -0.384054  1.133769
3 -1.099891 -0.172428 -0.877858  0.042214  0.582815

### or the last:

In [4]:
# x = 4
df.tail(4)

             A         B         C         D         E
1496  0.609112  0.485603 -0.169439 -0.392196 -0.870887
1497  0.880723 -0.187252  0.298243 -0.467423  1.328612
1498 -0.336468  0.616109 -0.272016  0.042879  0.891913
1499  1.974612 -0.836090 -0.895407 -1.277279  0.923513

### Find out the length of the DataFrame:

In [5]:
print(len(df))

1500

### Get a list of the column names:
Useful if the DataFrame has too many columns to display them all in a Jupyter notebook using <code>df.head()</code>

In [6]:
list(df.columns)

['A', 'B', 'C', 'D', 'E']

### See the summary statistics of the DataFrame:

In [7]:
df.describe()

                 A            B            C            D            E
count  1500.000000  1500.000000  1500.000000  1500.000000  1500.000000
mean     -0.026203     0.020842     0.006952     0.051377    -0.030343
std       0.976686     0.978571     1.010768     1.011277     1.028959
min      -3.260615    -3.253034    -3.053764    -3.294858    -3.016032
25%      -0.686372    -0.647454    -0.669371    -0.623795    -0.728913
50%      -0.034675     0.012854     0.006555     0.072094    -0.045583
75%       0.613952     0.656525     0.666278     0.722633     0.639662
max       3.958603     3.404302     3.321079     3.432663     3.118480