# Slice a DataFrame with <code>.loc</code>

In [1]:
import pandas as pd
import numpy as np

### Create an example DataFrame of normally distributed random numbers:

In [2]:
# Use a random seed to make reproducible data.
np.random.seed(1)
df = pd.DataFrame(np.random.randn(5,4), columns=list("ABCD"))

### Slice the DataFrame with <code>.loc</code>
<code>.loc</code> lets you slice the data by specifying the subset of rows, followed by the subset of columns.

### Select all rows and columns

In [3]:
df.loc[:, :]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815

### Select all rows of column A

In [4]:
df.loc[:, "A"]

0    1.624345
1    0.865408
2    0.319039
3   -0.322417
4   -0.172428
Name: A, dtype: float64

### Select first 3 rows of columns A and B

In [5]:
df.loc[:2, ["A","B"]]

          A         B
0  1.624345 -0.611756
1  0.865408 -2.301539
2  0.319039 -0.249370

### Select column B where column A is less than 0

In [6]:
df.loc[df["A"]<0, "B"]

3   -0.384054
4   -0.877858
Name: B, dtype: float64